.calculator{
    width: 70vw;
     max-width: 500px;
     height: 500px;
     background-color: rgb(223, 215, 215);
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 30px;
    
}

.calc-head{
    background-color: white;
    width: 60%;
    height: 60px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-body{
    width: 100%;
    min-height:400px ;
    padding-top: 10px;
 align-self: center;

}
.mainbtns{
    grid-row: 1/span 2;

}
.icons{
    width: 60px;
    background-color: violet;
    height: 60px;
    color: white;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,60px);
    justify-content: center;
    gap: 20px;
}